/* Общие стили */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */
.header-section {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  margin-left: 64px;
}

.header-title {
  width: 730px;
  margin-left: 64px;
}

.title-main {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header-subtitle {
  width: 340px;
  margin-left: 64px;
  position: absolute;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.subtitle-link {
  text-decoration: none;
}

.subtitle-link::after {
  content: '→';
  position: absolute;
  top: 84%;
  transform: translateY(-50%);
}

.header-image img {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header-square {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.rotating-element {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}